:host {
  position: absolute;
  top: 12px;
  padding: 6px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 70%);

  &.new {
    background: #8dc63f;
    rotate: 45deg;
    right: -50px;
  }

  &.top {
    background: #bfa315;
    rotate: -45deg;
    left: -50px;
  }
}
