<app-page-loading [loading]="(loading$ | async) === true"></app-page-loading>

<mat-tab-group
  *ngIf="(loading$ | async) === false"
  class="tab-group"
  dynamicHeight
>
  <mat-tab
    class="tab"
    *ngFor="let category of categories$ | async"
    [label]="'category.' + category | transloco"
  >
    <ng-template matTabContent>
      <app-game-list [category]="category"></app-game-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
