<mat-icon
  class="play-arrow"
  aria-label="Play button"
  fontIcon="play_arrow"
></mat-icon>

<app-ribbon
  *ngIf="game.new && currentCategory !== 'new'"
  class="ribbon"
  type="new"
></app-ribbon>

<app-ribbon
  *ngIf="game.top && currentCategory !== 'top'"
  class="ribbon"
  type="top"
></app-ribbon>

<img [src]="game.image" [alt]="game.name" class="game-image" loading="lazy" />

<div *ngIf="game.amount !== undefined" class="jackpot-value">
  {{ game.amount | currency : "GBP" : "symbol" }}
</div>
