:host {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 154px;

  .game-image {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .play-arrow {
    color: white;
    position: absolute;
    transform: scale(4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .jackpot-value {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 11px;
    bottom: 0px;
    color: #ffffff;
    font-weight: bold;
  }

  .play-arrow,
  .ribbon {
    z-index: 10;
  }

  &:hover {
    cursor: pointer;

    .game-image {
      filter: brightness(0.5);
    }

    .play-arrow {
      opacity: 1;
    }
  }
}
